<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.springmvc.board.BoardMapper">
	<select id="getBoardListCount" parameterType="searchVO" resultType="int">
		SELECT
			COUNT(*) CNT
		FROM
			BOARD A
			INNER JOIN MEMBER B ON A.WRITER = B.ID
		<where>
			<if test="searchType == 'title'">
				TITLE LIKE '%' || #{searchword} || '%'
			</if>
			<if test="searchType == 'content'">
				CONTENT LIKE '%' || #{searchWord} || '%'
			</if>
			<if test="searchType == 'writer'">
				B.NAME LIKE '%' || #{searchWord} || '%'
			</if>
		</where>
	</select>
	<select id="getBoardList" parameterType="searchVO" resultType="boardVO">
		SELECT
			*
		FROM
		(
			SELECT
				ROWNUM RNUM,
				C.*
			FROM
			(
				SELECT
					A.NO,
					B.NAME WRITER,
					A.TITLE,
					A.CREATE_DATE,
					A.HITS
				FROM
					BOARD A
					INNER JOIN MEMBER B ON A.WRITER = B.ID
				<where>
					<if test="searchType == 'title'">
						TITLE LIKE '%' || #{searchWord} || '%'
					</if>
					<if test="searchType == 'content'">
						CONTENT LIKE '%' || #{searchWord} || '%'
					</if>
					<if test="searchType == 'writer'">
						B.NAME LIKE '%' || #{searchWord} || '%'
					</if>
				</where>
				ORDER BY A.CREATE_DATE DESC
			) C
		)
		WHERE RNUM BETWEEN #{firstRecordIndex} + 1 AND #{lastRecordIndex}

	</select>
	<select id="getBoard" parameterType="int" resultType="boardVO">
		SELECT
			A.NO,
			B.NAME WRITER,
			A.TITLE,
			A.CONTENT,
			A.CREATE_DATE,
			A.MODIFY_DATE,
			A.HITS
		FROM
			BOARD A
			INNER JOIN MEMBER B ON A.WRITER = B.ID
		WHERE
 			NO = #{no}
	</select>
	<!--	keyColumn = 테이블에 있는 컬럼명 / keyProperty = BoardVO에 있는 변수명 -->
	<insert id="insertBoard" parameterType="boardVO" useGeneratedKeys="true" keyColumn="no" keyProperty="no">
		INSERT INTO BOARD
			(WRITER, TITLE, CONTENT)
		VALUES
			(#{writer}, #{title}, #{content})
	</insert>
	<update id="updateBoard" parameterType="boardVO">
		UPDATE
			BOARD
		SET
			TITLE = #{title},
			CONTENT = #{content},
			MODIFY_DATE = SYSDATE
		WHERE
			NO = #{no}
	</update>

	<update id ="updateHits" parameterType="int">
		update
			board
		set
			hits = hits +1
		where
			no = #{no}
	</update>
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
			BOARD
		WHERE
			NO = #{no}
	</delete>

</mapper>