<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.springmvc.file.FileMapper">
    <insert id="saveFiles" parameterType="list">
        <!--여러개의 파일을 저장할거라 파라미터 타입을 list-->
        INSERT INTO ATTACHED_FILE
                (BOARD_NO, FILE_PATH, FILE_NAME, ORIGINAL_NAME, FILE_SIZE)
        <foreach collection="list" item="file" separator="union all">
            SELECT
                #{file.boardNo}, #{file.filePath}, #{file.fileName}, #{file.originalName}, #{file.fileSize}
            FROM
                DUAL
        </foreach>
    </insert>

    <select id="selectFileList" parameterType="int" resultType="fileVO">
        SELECT
            ID,
            BOARD_NO,
            FILE_PATH,
            FILE_NAME,
            ORIGINAL_NAME,
            FILE_SIZE,
            CREATE_DATE
        FROM
            ATTACHED_FILE
        WHERE
            BOARD_NO = #{boardNo}
        ORDER BY
            ID
    </select>
    <select id="selectFile" parameterType="int" resultType="fileVO">
        SELECT
            ID,
            BOARD_NO,
            FILE_PATH,
            FILE_NAME,
            ORIGINAL_NAME,
            FILE_SIZE,
            CREATE_DATE
        FROM
            ATTACHED_FILE
        WHERE
            ID = #{id}
    </select>
</mapper>