<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.springmvc.regist.RegisterMapper">
    <select id="selectAll" resultType="member">
        SELECT
            ID,
            EMAIL,
            NAME,
            PASSWORD,
            CREATE_DATE
        FROM
            MEMBER
    </select>
    <select id="selectByEmail" parameterType="string" resultType="member">
        SELECT
            ID,
            EMAIL,
            PASSWORD,
            NAME,
            CREATE_DATE
        FROM
            MEMBER
        WHERE
            EMAIL = #{email}
    </select>
    <select id="selectById" parameterType="string" resultType="member">
        SELECT
            ID,
            EMAIL,
            PASSWORD,
            NAME,
            CREATE_DATE
        FROM
            MEMBER
        WHERE
            ID = #{id}
    </select>
    <insert id="insert" parameterType="registerRequest">
        INSERT INTO MEMBER
            (ID, NAME, PASSWORD, EMAIL)
        VALUES
            (#{id}, #{name}, #{password}, #{email})
    </insert>
</mapper>