<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.springmvc.regist.RegisterMapper">
    <select id="selectAll" resultType="member">
        select
            id,
            email,
            name,
            password,
            create_date
        from
            member
    </select>
    <select id="selectByEmail" parameterType="string" resultType="member">
        select
            id,
            email,
            password,
            name,
            create_date
        from
            member
        where
            email = #{email}
    </select>
    <select id="selectById" parameterType="string" resultType="member">
        select
            id,
            email,
            password,
            name,
            create_date
        from
            member
        where
            id = #{id}
    </select>
    <insert id="insert" parameterType="registerRequest">
        insert into member
            (id, name, password, email)
        values
            (#{id}, #{name}, #{password}, #{email})
    </insert>
</mapper>